<section>
  <h1
    class="text-center text-2xl my-8 bg-green-600 text-white p-5 w-[250px] m-auto rounded"
  >
    forgetPassword
  </h1>

  @if (step() === 1) {
  <form
    (ngSubmit)="verifyEmailSubmit()"
    class="border rounded shadow p-3"
    [formGroup]="verifyEmail"
  >
    <div>
      <label for="email"> email </label>
      <input
        formControlName="email"
        id="email"
        type="email"
        class="form-control my-5 bg-white border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      />
    </div>

    <button
      type="submit"
      (click)="verifyEmailSubmit()"
      [disabled]="verifyEmail.invalid"
      class="bg-green-600 text-white px-12 py-2 border rounded hover:bg-green-800 transition-colors duration-500"
    >
      verifyEmail
    </button>
  </form>

  } @else if (step() === 2) {
  <form
    (ngSubmit)="verifyCodeSubmit()"
    class="border rounded shadow p-3"
    [formGroup]="verifyCode"
  >
    <div>
      <label for="resetCode"> resetCode </label>
      <input
        formControlName="resetCode"
        id="resetCode"
        type="text"
        class="form-control my-5 bg-white border-gray-300 text-gray-900 text-sm rounded-lg focus:border-gray-500 block w-full p-2.5"
      />
    </div>

    <button
      type="submit"
      (click)="verifyCodeSubmit()"
      [disabled]="verifyCode.invalid"
      class="bg-green-600 text-white px-12 py-2 border rounded hover:bg-green-800 transition-colors duration-500"
    >
      verifyCode
    </button>
  </form>
  } @else if (step() === 3) {

  <form
    (ngSubmit)="resetPasswordSubmit()"
    class="border rounded shadow p-3"
    [formGroup]="resetPassword"
  >
  <div>
      <label for="email"> email </label>
      <input
        formControlName="email"
        id="email"
        type="email"
        class="form-control my-5 bg-white border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      />
    </div>

    <div>
      <label for="newPassword"> newPassword </label>
      <input
        formControlName="newPassword"
        id="newPassword"
        type="password"
        class="form-control my-5 bg-white border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      />
    </div>

    <button
      type="submit"
      (click)="resetPasswordSubmit()"
      [disabled]="resetPassword.invalid"
      class="bg-green-600 text-white px-12 py-2 border rounded hover:bg-green-800 transition-colors duration-500"
    >
      verifyCode
    </button>
  </form>
  }
</section>
