<!--

dark mode && dropdowen incompelet

-->
<nav class="bg-gray-100 border-gray-200 dark:bg-gray-900">
  <div
    class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto px-4 py-2"
  >
    <a
      routerLink="/home"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img src="/images/freshcart-logo.svg" alt="Logo" />
    </a>

    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <!-- ul -->
    <div class="hidden w-full md:flex flex-grow md:w-auto" id="navbar-default">
      @if (isLogin()) {
      <ul
        class="capitalize flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-2 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            routerLink="/home"
            routerLinkActive="text-green-600 "
            class="block py-2 px-3 text-gray-700 dark:text-gray-100 rounded-sm md:p-0"
            >home</a
          >
        </li>
        <li>
          <a
            routerLink="/products"
            routerLinkActive="text-green-600 "
            class="block py-2 px-3 text-gray-700 dark:text-gray-100 rounded-sm md:p-0"
            >products</a
          >
        </li>
        <li>
          <a
            routerLink="/categories"
            routerLinkActive="text-green-600 "
            class="block py-2 px-3 text-gray-700 dark:text-gray-100 rounded-sm md:p-0"
            >categories</a
          >
        </li>
        <li>
          <a
            routerLink="/brands"
            routerLinkActive="text-green-600 "
            class="block py-2 px-3 text-gray-700 dark:text-gray-100 rounded-sm md:p-0"
            >brands</a
          >
        </li>
      </ul>
      }
      <ul
        class="capitalize ms-auto flex items-center flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-2 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <!-- icons -->
        <li>
          <a
            class="block py-2 px-3 text-gray-700 dark:text-gray-100 rounded-sm md:p-0"
          >
            <i class="fab fa-facebook"></i
          ></a>
        </li>
        <li>
          <a
            class="block py-2 px-3 text-gray-700 dark:text-gray-100 rounded-sm md:p-0"
          >
            <i class="fab fa-twitter"></i
          ></a>
        </li>
        <li>
          <a
            class="block py-2 px-3 text-gray-700 dark:text-gray-100 rounded-sm md:p-0"
          >
            <i class="fab fa-linkedin-in"></i
          ></a>
        </li>
        <li>
          <a
            class="block py-2 px-3 text-gray-700 dark:text-gray-100 rounded-sm md:p-0"
          >
            <i class="fab fa-instagram"></i
          ></a>
        </li>
        <li>
          <a
            class="block py-2 px-3 text-gray-700 dark:text-gray-100 rounded-sm md:p-0"
          >
            <i class="fab fa-youtube"></i
          ></a>
        </li>
        <li>
          <a
            class="block py-2 px-3 text-gray-700 dark:text-gray-100 rounded-sm md:p-0"
          >
            <i class="fab fa-tiktok"></i
          ></a>
        </li>
        <li>
          <a
            routerLink="/cart"
            routerLinkActive="bg-green-600 text-white"
            class="block py-2 px-3 text-gray-700 dark:text-gray-100 rounded-sm md:p-0"
          >
            <i class="fa fa-cart-shopping"></i
          ></a>
        </li>
        <!-- Dark mode btn -->
        <!-- <li>
          <a
            role="button"
            (click)="toggleDarkMode()"
            class="px-4 py-2 bg-gray-800 text-white dark:bg-gray-200 dark:text-black rounded"
          >
            Toggle Dark Mode
          </a>
        </li> -->
        <!-- Dropdown here -->
        <!-- auth -->
        @if (!isLogin()) {
        <li>
          <a
            routerLink="/login"
            routerLinkActive="text-green-600 "
            class="block py-2 px-3 text-gray-700 dark:text-gray-100 rounded-sm md:p-0"
            >login</a
          >
        </li>
        <li>
          <a
            routerLink="/register"
            routerLinkActive="text-green-600 "
            class="block py-2 px-3 text-gray-700 dark:text-gray-100 rounded-sm md:p-0"
            >register</a
          >
        </li>
        } @else {
        <li>
          <a
            role="button"
            class="block py-2 px-3 text-gray-700 dark:text-gray-100 rounded-sm md:p-0"
            >logOut</a
          >
        </li>
        }
      </ul>
    </div>
  </div>
</nav>

<!-- dropdowen  -->
<!--
<li>
  <button
    type="button"
    data-dropdown-toggle="language-dropdown-menu"
    class="inline-flex items-center font-medium justify-center px-4 py-2 text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white"
  >
    <img [src]="currentSrc()" [alt]="currentAlt()" />
    <span> {{ currentLang() }} </span>
  </button>

  <div
    class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-gray-700"
    id="language-dropdown-menu"
  >
    <ul class="py-2 font-medium" role="none">
      <li (click)="currentLan($event)">
        <a
          href="#"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
          role="menuitem"
        >
          <div class="inline-flex items-center">
            <img src="/images/EN.png" alt="English language" />
            English (US)
          </div>
        </a>
      </li>
      <li (click)="currentLan($event)">
        <a
          href="#"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
          role="menuitem"
        >
          <div class="inline-flex items-center">
            <img src="/public/images/AR.png" alt="Arabic language" />
            Arabic
          </div>
        </a>
      </li>
    </ul>
  </div>
</li> -->

<!-- +++++++++++++++++++++++++++++ -->

<!-- <li>
  <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 px-3 text-gray-700 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Dropdown <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
</svg></button>



  <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownLargeButton">
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
        </li>
      </ul>
      <div class="py-1">
        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
      </div>
  </div>
</li> -->
